*/
{margin: 0;
padding: 0;}


title {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
body{background-color: #f6d3b3;}



p {
  color: #931145;
}


p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.product{
  background-color: rgb(250, 255, 209);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.product2 {background-color: rgb(250, 255, 209);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;}
  .product3 {
    background-color: rgb(250, 255, 209);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  }
  




button {color: rgb(1, 6, 48);}
button {font-family: cursive;}
button {font-size: larger;}
button{background-color: rgb(218, 152, 159);}
button {width: 8rem;}
button {height: 4rem;}
header{color: #4e0f27;}
header {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
header {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h2 {color: rgb(205, 98, 5);}
h2{font-style: oblique;}
<!-- experimenting with fonts and colors -->
